@CHARSET "UTF-8";

.plane {
	background: url(../images/plane.png)
}
#warning{  
    position:absolute;  
    color:red;  
    font-size: 10px;  
    font-weight: normal;  
    font-style: normal;  
    text-decoration: none;  
    }  
input{
	width:150px;
}
.btn-wider{
	width:200px
}